<!-- Essential jQuery Plugins
		================================================== -->
	<!-- Main jQuery -->
	<script src="plugins/jquery-1.11.1.min.js"></script>
	<!-- Twitter Bootstrap -->
	<script src="plugins/bootstrap/bootstrap.min.js"></script>
	<!-- Single Page Nav -->
	<script src="plugins/jquery.singlePageNav.min.js"></script>
	<!-- jquery.fancybox.pack -->
	<script src="plugins/jquery.fancybox.pack.js"></script>
	<!-- Owl Carousel -->
	<script src="plugins/owl.carousel.min.js"></script>
	<!-- jquery easing -->
	<script src="plugins/isotope.pkgd.min.js"></script>
	<script src="plugins/jquery.easing.min.js"></script>
	<!-- Fullscreen slider -->
	<script src="plugins/jquery.slitslider.js"></script>
	<script src="plugins/jquery.ba-cond.min.js"></script>
	<!-- onscroll animation -->
	<script src="plugins/wow.min.js"></script>
	<!-- Custom Functions -->
	<script src="plugins/jquery.form.min.js"></script>
	<script src="plugins/jquery.validate.min.js"></script>
	<!-- Google Map -->
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA"></script>
	<script src="plugins/gmap.js"></script>
	<script src="js/main.js"></script>
	<script>
		$(function () {
			$("#contact-form").validate({
				rules: {
					name: {
						required: true,
						minlength: 2
					},
					email: {
						required: true,
						email: true
					},
					subject: {
						required: true,
						minlength: 2
					},
					message: {
						required: true,
						minlength: 2
					}
				},
				messages: {
					name: {
						required: "come on, you have a name don't you?",
						minlength: "your name must consist of at least 2 characters"
					},
					email: {
						required: "no email, no support"
					},
					subject: {
						required: "you have a reason to contact, write it here",
						minlength: "thats all? really?"
					},
					message: {
						required: "um...yea, you have to write something to send this form.",
						minlength: "thats all? really?"
					}
				},
				submitHandler: function (form) {
					$(form).ajaxSubmit({
						type: "POST",
						data: $(form).serialize(),
						url: "mail.php",
						success: function () {
							console.log('done');
							$(".contact-form").fadeTo("slow", 1, function () {
								$(".contact-form").resetForm();
								$(".success-ms").slideDown("slow");
							});
						},
						error: function () {
							console.log('error');
							$(".contact-form").fadeTo("slow", 1, function () {
								$(".error-ms").slideDown("slow");
							});
						}
					});
				},
				errorPlacement: function (error, element) {
					element.after(error);
					error.hide().slideDown();
				}
			});
		});
	</script>
</body>

</html>