<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <a href="">
            <img class="img-responsive" src="images/logo.png" alt="">
          </a>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ullam numquam repudiandae repellat ex autem
          voluptas vel esse quo excepturi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, repellendus.</p>
      </div>
      <div class="col-md-4">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms And Condition</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>newsletter signup</h4>
        <p>You will be among the first to know about hot new software and great deals on stuff to enhance and promote</p>
        <form action="#" method="post" class="subscribe-form wow animated fadeInUp">
          <div class="input-field">
            <input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
            <button type="submit" class="submit-icon">
              <i class="fa fa-paper-plane fa-lg"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
<section id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-lg-left">
          COPYRIGHT © 2016 , BLUE PRO | DIGITAL AGENCY
        </p>
      </div>
      <div class="col-md-6 text-right">
        <p class="text-center text-lg-left">
          Design and Developed By <a href="#">Themefisher</a>
        </p>
      </div>
    </div>
  </div>
</section>