<!--
        Fixed Navigation
        ==================================== -->
<header id="navigation" class="fixed-top animated-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#body">
        <img class="img-fluid" src="images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center" id="nav">
          <li class="nav-item active">
            <a class="nav-link" href="#body">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#price">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--
              End Fixed Navigation
              ==================================== -->